:root{
    --header-letter-white: #F5F5F7;
}
/*code to save */

body {
    
font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#android-powers-it{

    background-color: black;
    color: white;
    padding: 122px 0px 19px;
    text-align: center;

}








