:root{
    --header-letter-white: #F5F5F7;
    --letter-black: #1d1d1f;
}
/*code to save */

body {
    
font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
/* SECTION 1 STYLES*/
#android-powers-it{

    background-color: black;
    color: var(--header-letter-white);
    padding: 122px 0px 19px;
    text-align: center;

}

#section-1-p {
    font-size: 40px;
    margin: 9px 0px 0px;
    font-weight: bold;
}

#section-1-cloud-image {
        flex-basis: 100%;
        max-width: 100%
}

#section-1-img {
    text-align: center;

}




figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    max-width: 734px;
    text-align: center;
}

/*SECTION 2 STYLES*/

#pixel-featured {

}




