:root{
    --header-letter-white: #F5F5F7;
    --letter-black: #1d1d1f;
    --button-and-link-blue: #0071E3;
}
/*code to save */

body {
    
font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
/* SECTION 1 STYLES*/
#android-powers-it{

    background-color: black;
    color: var(--header-letter-white);
    padding: 0px 0px 19px;
    text-align: center;

}

#section-1-p {
    font-size: 40px;
    margin: 0px;
    font-weight: bold;
}

#section-1-img {
    text-align: center;
    margin: 0px;
    width: 300px;
    justify-content: center;

}




figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    max-width: 734px;
    text-align: center;
}

/*SECTION 2 STYLES*/

#pixel-featured {
    color: var(--letter-black);
    background-color:#f2f2f2;
    padding: 56px 0px 19px;

}

#section-2-main-div {
    text-align: center;
}

#section-2-h2 {
    display: block;
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

h3 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;

}

.content {
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
}

a {
    margin: 16px 19px 10px;
    font-size: 17px;
    color: var(--button-and-link-blue);
    text-decoration: none;
}

#section-2-content {
    margin-bottom: 2em;
}

#section-2-img {
    text-align: center;
    width: 200px;

}


/*SECTION 3 STYLES*/

.gallery-item{
    margin: 60px 60px;
    max-width: 250px;
    display: flex;
    justify-content: center;
    contain: fii;
    text-align: inherit;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}

h4 {
    font-size: 19px;
    margin: 15px 0px 15px;
    color: var(--letter-black);

}

.gallery-img {
    width: 150px;
    justify-content: center;
    
}

/*SECTION 4 STYLES*/

#foldable-devices-gallery {
    color: var(--letter-black);
    background-color:#f2f2f2;
    padding: 56px 0px 19px;
}

.h4-s4 {
    text-align: center;
}

#section-4-img {
    width: 300px;
    text-align: center;
    justify-content: center;
    object-fit: cover;
}

.gallery-item-s4 {
    margin: 0px;
    width: 300px;
    display: flex;
    justify-content: center;
    text-align: inherit;
}

.gallery-img-s4 {
    width: 300px;
    justify-content: inherit;
    
}


/*SECTION 5 STYLES*/

#popular-picks-gallery {
    color: var(--letter-black);
    background-color:white;
    padding: 56px 0px 19px;
    }



/*SECTION 6 STYLES*/

.featured-tablets {
    color: var(--letter-black);
    background-color: #f2f2f2;
    padding: 56px 0px 19px;
    }

.gallery-img-tablet {
    width: 300px;
    justify-content: center;
    }

/*SECTION 7 STYLES*/

#android-for-enterprise {
    color: var(--letter-black);
    background-color:;
    padding: 0px;
    }

#gallery-item-s7{
    max-width: 250px;
    display: flex;
    justify-content: center;
    contain: fit;
}

#gallery-img-s7 {
    width:300px;
    object-fit: contain;
    margin-bottom: 0px;

}

#content-s7 {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: bold;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
    padding: 0 40px 20px;
}

#flex-container-s7{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }

/*SECTION 8 STYLES*/

#android-one-phones {
    color: var(--header-letter-white);
    background-color: black;
    padding: 56px 0px 19px;
    }

#section-8-img {
    width: 300px;
}

#section-8-p {
    margin-bottom: 30px;
}

#section-8-div-p {
    margin-bottom: 30px;
}

/*SECTION 9 STYLES*/

#android-go-edition {
    color: var(--letter-black);
    background-color: var(--header-letter-white);
    padding: 56px 0px 19px;
    }

/*SECTION 10 STYLES*/
    .gallery-item-10{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }

    .solo-items {
        width: 300px;
        justify-content: center;
        padding: 20px 0;
        }

/*SECTION 11 STYLES*/

#make-the-switch {
    color: var(--header-letter-white);
    background-color: rgb(28, 28, 28);
    padding: 56px 0px 56px;
    }

#section-11-h3 {
    font-size: 56px;
}

#section-11-p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}

#android-apple-logo{
    background: transparent !important;

}

.blue-button {
    color: white;
    background-color: var(--button-and-link-blue);
    padding: 8px 16px;
    border-radius: 20px;
    width: 100px;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
}

.footer-heading {
    font-size: 14.04px;
    text-align: left;
    margin: 16px 19px 10px;
    

}

body {
    margin: 0 auto;
    padding: 0 auto;
}


