<section class="hero latest-features">
    <div class="container">
        <div class="title">
            <h2 class="title-heading">Fall's latest features.</h2>
            <p class="title-paragraph">We've made your phone more helpful than ever. With Google Assistant shortcuts
                that get you to your favorite apps. And tools that simplify how you connect with loved ones. Discover
                the latest that Android has to offer—no OS upgrade needed.</p>
        </div>
        <div class="cta">
            <a href="#" class="cta-link">SEE WHAT'S NEW</a>
        </div>
    </div>
</section>

<section class="hero android-11">
    <div class="container">
        <div class="title title-dark">
            <p class="title-paragraph title-dark">ANDROID 11</p>
            <h2 class="title-heading title-dark">Introducing Android 11.</h2>
            <p class="title-paragraph title-dark">Meet the OS that’s optimized for how you use your phone. Helping you
                manage conversations. And organize your day. With even more tools and privacy controls that put you in
                charge.</p>
        </div>
        <div class="cta">
            <a href="#" class="cta-link cta-link-darker">Learn more</a>
        </div>
    </div>
</section>

<section class="hero devices">
    <div class="container">
        <div class="title">
            <h2 class="title-heading">Devices for everything and everyone.</h2>
            <p class="title-paragraph">Choices for work, gaming, 5G streaming and anything else. There’s over 24,000
                phones and tablets that run on Android. So no matter what you’re looking for, there’s something for you.
            </p>
        </div>
        <div class="cta">
            <a href="#" class="cta-link">See all</a>
        </div>
        <marquee behavior="alternate" scrollamount=15>
            <img src="https://lh3.googleusercontent.com/WKUOKSTqMH8caPxvxv-FtLc7fLBxCXZ-UDpY0V49F5x0bOzVMzdK232zDY8I56mBbAJw21IRsGHlaDU7P6ztArQCp5iD5HKBCGoWEA=w1348-rw-e365-v1"
                height="300px" alt="The lineup of Android devices, from smartphones to tablets">
        </marquee>
    </div>
</section>

<section class="hero feature-list feature-list-1">
    <div class="container">
        <div class="title title-dark">
            <h2 class="title-heading title-dark">Discover Android (Go edition).</h2>
            <p class="title-paragraph title-dark">A powerful experience for entry-level smartphones. Built with new apps
                that expand what's possible.</p>
        </div>
        <div class="cta">
            <a href="#" class="cta-link cta-link-darker">Learn more</a>
        </div>
        <img src="https://lh3.googleusercontent.com/qJeC_pp1apa-pn2RA8mJmMtU2bsqlBbAot-Dfx-tdixGCE1CYTykr8ipEFtKkiFWiE-iVG05svq-aisezpENX7f3C0jgFt2XNOD43g=w835-rw-e365-v1"
            alt="The home screen of an android device" class="feature-img">
    </div>
    <div class="container">
        <div class="title title-dark">
            <h2 class="title-heading title-dark">Drive with Android Auto.</h2>
            <p class="title-paragraph title-dark">Hands-free navigation and messaging. Just connect your phone and go.
            </p>
        </div>
        <div class="cta">
            <a href="#" class="cta-link cta-link-darker">Learn more</a>
        </div>
        <img src="https://lh3.googleusercontent.com/lHAD4U22Z2iCSZ0XlXf88b_AAgGBMcFGqS2ARY3QQ1CnX0N8nQ1HJy2tDfTpsx87FhiUeATU2uX8PiTyOYBdVszmdbwFY4ggd0tKtw=w835-rw-e365-v1"
            alt class="feature-img">
    </div>
</section>

<section class="hero feature-list feature-list-2">
    <div class="container">
        <div class="title title-dark">
            <h2 class="title-heading title-dark">Stay protected and in control.</h2>
            <p class="title-paragraph title-dark">Google Play Protect, regular security updates and control over how
                your data is shared.</p>
        </div>
        <div class="cta">
            <a href="#" class="cta-link cta-link-darker">Learn more</a>
        </div>
        <img src="https://lh3.googleusercontent.com/T6hypZHyRA_A0WhwiKExKsRfImmx5ofED5_0kDi4e2LkWPfvUBJNGJlEjYmJQJcxqKqj-u9xYhUVwwOv7JWP5LI8bJeEc5xClIKOrQ=w835-rw-e365-v1"
            alt="Man in wheelchair using Android on a pier." class="feature-img">
    </div>
    <div class="container">
        <div class="title title-dark">
            <h2 class="title-heading title-dark">Make the world accessible.</h2>
            <p class="title-paragraph title-dark">Screen readers, speech-to-text and some of the newest ways to
                experience the world your way.</p>
        </div>
        <div class="cta">
            <a href="#" class="cta-link cta-link-darker">Learn more</a>
        </div>
        <img src="https://lh3.googleusercontent.com/ppLX_l0WA5l2WXGRE7jOVFf2AMNkPHn30DXkU7-xPLrgqV6sz4dB1u092Y-46G7m2ohFQEhXkDznhvGpLcxtQgpEE03EMoIciODhhcM=w835-rw-e365-v1"
            alt="Android voice access" class="feature-img">
    </div>
</section>
