<main>
    <article>

        <!-- It is divided into sections-->
        <!-- SECTION 1. ANDROID POWERS IT SECTION-->
        <section id="android-powers-it" class="flex-container">
            <div class="hero-overlax__wrapper grid">
                <div class="content">
                    <h1>Phones and tablets</h1>
                    <div data-android-component="row-heading" data-android-component-config="{&quot;timeout&quot;: 250}"
                        class="row-heading row-heading--loaded">
                        <p id="section-1-p" class="section-h2">
                            You want it, Android powers it.
                        </p>
                    </div>
                </div>
                <div class="flex-container">
                    <img src="https://lh3.googleusercontent.com/-EyymqCcsQbXlbRkwE9OrIcHkhdvH14a1xxVpPtmbpbHV71fDSlPgm-KxlGRNhZjbS2e6cU4j0ENRvk4VeXAMIdQUnnlPtd3J5VSqP8"
                        width="320" id=section-1-img>
                </div>
            </div>
        </section>

        <!-- SECTION 2. PIXEL FEATURED SECTION-->
        <section id="pixel-featured" class="section-second">
            <div class="main-div" id="section-2-main-div">
                <div class="content" id="section-2-content">
                    <h2 id="section-2-h2">Featured</h2>
                    <h3 id="section-2-h3">Google Pixel&nbsp;4a</h3>
                    <div id="section-2-div-p_button">
                        <p id="section-2-p">Packed with the things that you<br>
                            want most in a Google phone, like <br>
                            a low-light camera, all-day battery <br>
                            and the new Google Assistant. All at <br>
                            a lower price. So you can do more, for less.</p>

                        <br>
                        <!--SECTION 2.1 LINK-->
                        <a href="https://store.google.com/product/pixel_4a" aria-label="Learn more: Google Pixel 4a"
                            target="_blank" rel="noopener"
                            data-g-config="{&#39;eventLabel&#39;: &#39;learn more&#39;, &#39;moduleName&#39;: &#39;device-gallery-featured&#39;, &#39;linkUrl&#39;: &#39;https://store.google.com/product/pixel_4a&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;cta&#39;}">
                            <span class="blue-button">Learn more</span>
                        </a>
                    </div>
                </div>
                <!--SECTION 2.2 IMG-->
                <img srcset="https://lh3.googleusercontent.com/6uFkdJBgmNkq9KoFvv9edRvqJoFuE6pUvMEnug1AqRDFyST7iybtil9drsr9GFHjJUd8e_s8bePEYZYutLsDpTx1huAe74oeMP--vg=w400-e365-v1 1x"
                    id="section-2-img">
            </div>
        </section>
        <!-- SECTION 3.1. DEVICE GALLERY HEAD TEXT-->
        <section id="latest-and-greatest">
            <div class="content">
                <h2>Latest and greatest</h2>
                <h3 class="h3-general">The world’s <br> first 5G <br> phones.</h3>
                <div>
                    <p id="section-3-p">
                        Download a 4K movie in the blink of an <br>
                        eye. Jump on a group video call that <br>
                        never lags. Turn your living room into
                        an AR zombie apocalypse. <br>
                        5G is taking phones to the next level – <br>
                        and they’re only built on Android.</p>
                </div>
            </div>
            <!-- SECTION 3.2. DEVICE GALLERY PHONES IMAGES-->
            <div id="section-3-gallery" class="flex-container"
                data-g-config="{&#39;eventLabel&#39;: &#39;&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;the world\xe2\x80\x99s &lt;br&gt; first 5g &lt;br&gt; phones move carousel&#39;}">
                <!-- SECTION 3.2.1 SAMSUNG  NOTE 20 PHONE-->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta" href="https://www.samsung.com/us/smartphones/galaxy-note20-5g/"
                        target="_blank" rel="noopener" aria-label="Learn more: Samsung Galaxy Note 20"
                        data-g-config="{&#39;eventLabel&#39;: &#39;samsung galaxy note 20&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.samsung.com/us/smartphones/galaxy-note20-5g/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;latest and greatest&#39;}">
                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/uGOyIO43aUh8mK4VSzQsf7VLtBJrHPj3ZGpTNJkLgwJ-b0I96jADP_WR4m4uv499y4dXMyh_tvVTMAbU1foDB_ef22vs5DTyEX8hJQ=w400-e365-v1 1x, https://lh3.googleusercontent.com/uGOyIO43aUh8mK4VSzQsf7VLtBJrHPj3ZGpTNJkLgwJ-b0I96jADP_WR4m4uv499y4dXMyh_tvVTMAbU1foDB_ef22vs5DTyEX8hJQ=w800-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Samsung</h4>
                            <h4 class="h4-general">Galaxy Note 20</h4>
                        </div>
                    </a>
                </div>
                <!-- SECTION 3.2.2 SAMSUNG GALAXY A71 5G PHONE-->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta" href="https://www.samsung.com/us/mobile/galaxy-a71-5g/"
                        target="_blank" rel="noopener" aria-label="Learn more: Samsung Galaxy A71 5G"
                        data-g-config="{&#39;eventLabel&#39;: &#39;samsung galaxy a71 5g&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.samsung.com/us/mobile/galaxy-a71-5g/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;latest and greatest&#39;}">
                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/KQnFedBg7-NDv794EULUzC5zCtJElTCv3buqNznUpoLQjffuwpaCthO2pa3o9k3d9V89-mbwXFglEIShEsUmI8wVtrBg2vLAUFbPww=w400-e365-v1 1x, https://lh3.googleusercontent.com/KQnFedBg7-NDv794EULUzC5zCtJElTCv3buqNznUpoLQjffuwpaCthO2pa3o9k3d9V89-mbwXFglEIShEsUmI8wVtrBg2vLAUFbPww=w800-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Samsung</h4>
                            <h4 class="h4-general">Galaxy A71 5G</h4>
                        </div>
                    </a>
                </div>
                <!-- SECTION 3.2.3 MOTOROLA EDGE PLUS 5G PHONE-->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta"
                        href="https://www.motorola.com/us/smartphones-motorola-edge-plus/p" target="_blank"
                        rel="noopener" aria-label="Learn more: Motorola Edge Plus 5G"
                        data-g-config="{&#39;eventLabel&#39;: &#39;motorola edge plus 5g&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.motorola.com/us/smartphones-motorola-edge-plus/p&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;latest and greatest&#39;}">
                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/sX3V1e2FTGtx_OtrgvDOpqVB5d4N3tYMwdP7dE97xYZQVX3cmy6038MEVOmh_ogjvLbh4R4yPJ-L_NQdWJOzKAmeUeCJngBuIEUgfQ=w400-e365-v1 1x, https://lh3.googleusercontent.com/sX3V1e2FTGtx_OtrgvDOpqVB5d4N3tYMwdP7dE97xYZQVX3cmy6038MEVOmh_ogjvLbh4R4yPJ-L_NQdWJOzKAmeUeCJngBuIEUgfQ=w800-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Motorola</h4>
                            <h4 class="h4-general">Edge Plus 5G</h4>
                        </div>
                    </a>
                </div>
                <!-- SECTION 3.2.4 NOKIA 8.3 5G-->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta" href="https://www.nokia.com/phones/en_gb/nokia-8-3-5g"
                        target="_blank" rel="noopener" aria-label="Learn more: Nokia 8.3 5G"
                        data-g-config="{&#39;eventLabel&#39;: &#39;nokia 8 3 5g&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.nokia.com/phones/en_gb/nokia-8-3-5g&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;latest and greatest&#39;}">
                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/oS-fWdc2q4Y21oJMeUCw6vB_8_v63tQEUR-CBjh8wjjIyMcDpcDREeKLo8FsIhA3hfZv7G4VSeIXGV43S22l4soCeKWXQfqnkUhx4g=w400-e365-v1 1x, https://lh3.googleusercontent.com/oS-fWdc2q4Y21oJMeUCw6vB_8_v63tQEUR-CBjh8wjjIyMcDpcDREeKLo8FsIhA3hfZv7G4VSeIXGV43S22l4soCeKWXQfqnkUhx4g=w800-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Nokia</h4>
                            <h4 class="h4-general">8.3 5G</h4>
                        </div>
                    </a>
                </div>
                <!-- SECTION 3.2.5 OPPO FIND X2 PRO 5G-->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta" href="https://www.oppo.com/en/smartphone-find-x2-pro/"
                        target="_blank" rel="noopener" aria-label="Learn more: Oppo Find X2 Pro 5G"
                        data-g-config="{&#39;eventLabel&#39;: &#39;oppo find x2 pro 5g&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.oppo.com/en/smartphone-find-x2-pro/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;latest and greatest&#39;}">
                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/DQro56RaPn0YBdqjPe3C4UB3ZjewV9s53rm1wYjoGnjX9V-FtjBSFfGYrRYjg5_scGbuanwcjWW3D9EM-cvwUVXOJyPwpwhMR7fThw=w400-e365-v1 1x, https://lh3.googleusercontent.com/DQro56RaPn0YBdqjPe3C4UB3ZjewV9s53rm1wYjoGnjX9V-FtjBSFfGYrRYjg5_scGbuanwcjWW3D9EM-cvwUVXOJyPwpwhMR7fThw=w800-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Oppo</h4>
                            <h4 class="h4-general">Find X2 Pro 5G</h4>
                        </div>
                    </a>
                </div>
                <!-- SECTION 3.2.6 ONE PLUS 8 PRO-->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta" href="https://www.oneplus.com/8-pro?from=head" target="_blank"
                        rel="noopener" aria-label="Learn more: OnePlus 8 Pro"
                        data-g-config="{&#39;eventLabel&#39;: &#39;oneplus 8 pro&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.oneplus.com/8-pro?from=head&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;latest and greatest&#39;}">
                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/l5erD8KeBgXkIg1VuQLXfp_Bs54--_nJVSeaoOvrOg3tsYDiPUDyAhTQooUYwe8xVkEe3x5cylKYl3gVlqIT3nG_Wf550htDz75gug=w400-e365-v1 1x, https://lh3.googleusercontent.com/l5erD8KeBgXkIg1VuQLXfp_Bs54--_nJVSeaoOvrOg3tsYDiPUDyAhTQooUYwe8xVkEe3x5cylKYl3gVlqIT3nG_Wf550htDz75gug=w800-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">OnePlus</h4>
                            <h4 class="h4-general">8 Pro</h4>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- SECTION 4. FOLDABLE PHONES-->
        <section id="foldable-devices-gallery">
            <!-- SECTION 4.1. FOLDABLE PHONES HEAD TEXT-->
            <div class="content">
                <h2>Foldable phones</h2>
                <h3 class="h3-general">Devices that can tackle more at once.</h3>
                <div class="device-gallery__body is-body-wrapper">
                    <p id="section-4-p">
                        Unfold your screen to play a game and<br>
                        stream a movie at the same time. With<br>
                        Android, you can multitask like a pro <br>
                        on phones that flex to fit so many <br>
                        possibilities.</p>
                </div>
            </div>
            <!-- SECTION 4.2. FOLDABLE PHONES GALLERY-->
            <div class="flex-container">
                <!-- SECTION 4.2.1 MICROSOFT SURFACE DUO-->
                <div class="gallery-item-s4">
                    <a href="https://www.microsoft.com/en-us/surface/devices/surface-duo" target="_blank" rel="noopener"
                        aria-label="Learn more: Microsoft Surface Duo"
                        data-g-config="{&#39;eventLabel&#39;: &#39;microsoft surface duo&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.microsoft.com/en-us/surface/devices/surface-duo&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;foldable phones&#39;}">
                        <div class="gallery-img-s4">
                            <img srcset="https://lh3.googleusercontent.com/qkdQYQ9My1yrqmpJ9MX_5Y9Xhv2LPF7BVSwRsSvtfKPpmjHdlbbxIqvzUER0Q57ZvcUbV0-dB31rIMgLL-r27XGH-4ierCyCLqUpsQ=w400-e365-v1 1x, https://lh3.googleusercontent.com/qkdQYQ9My1yrqmpJ9MX_5Y9Xhv2LPF7BVSwRsSvtfKPpmjHdlbbxIqvzUER0Q57ZvcUbV0-dB31rIMgLL-r27XGH-4ierCyCLqUpsQ=w800-e365-v1 2x"
                                alt="" id="section-4-img">
                        </div>
                        <div>
                            <h4 class="h4-s4">Microsoft</h4>
                            <h4 class="h4-s4">Surface Duo</h4>
                        </div>
                    </a>
                </div>
                <!-- SECTION 4.2.2 SAMSUNG GALAXY Z FOLD2-->

                <div class="gallery-item">
                    <a class="device-gallery__item-cta" href="https://www.samsung.com/us/smartphones/galaxy-z-fold2-5g/"
                        target="_blank" rel="noopener" aria-label="Learn more: Samsung Galaxy Z Fold2"
                        data-g-config="{&#39;eventLabel&#39;: &#39;samsung galaxy z fold2&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.samsung.com/us/smartphones/galaxy-z-fold2-5g/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;foldable phones&#39;}">
                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/OYEyQTcSe1zqUhhS9AtiQsqiW8eU1Czs1jJXiwNdCNr0SoCuAcpqV5lWp7GAjrR7OmdSA3JmAzqNgKgkOr1-1Dt2SG6S_zQsGYNygA=w400-e365-v1 1x, https://lh3.googleusercontent.com/OYEyQTcSe1zqUhhS9AtiQsqiW8eU1Czs1jJXiwNdCNr0SoCuAcpqV5lWp7GAjrR7OmdSA3JmAzqNgKgkOr1-1Dt2SG6S_zQsGYNygA=w800-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Samsung</h4>
                            <h4 class="h4-general">Galaxy Z Fold2</h4>
                        </div>
                    </a>
                </div>
                <!-- SECTION 4.2.3 GALAXY Z FLIP-->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta" href="https://www.samsung.com/us/mobile/galaxy-z-flip/"
                        target="_blank" rel="noopener" aria-label="Learn more: Samsung Galaxy Z Flip"
                        data-g-config="{&#39;eventLabel&#39;: &#39;samsung galaxy z flip&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.samsung.com/us/mobile/galaxy-z-flip/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;foldable phones&#39;}">
                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/khFT04tRnfGq0wN6svSZuUYmUrzkUdFZVy23GqeEC3f7QCdZcuyYswJieKJTPGkTNsa7MImwjT5Np_EWDgUeRjFhtUjfC4XRmjG2uw=w400-e365-v1 1x, https://lh3.googleusercontent.com/khFT04tRnfGq0wN6svSZuUYmUrzkUdFZVy23GqeEC3f7QCdZcuyYswJieKJTPGkTNsa7MImwjT5Np_EWDgUeRjFhtUjfC4XRmjG2uw=w800-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Samsung</h4>
                            <h4 class="h4-general">Galaxy Z Flip</h4>
                        </div>
                    </a>
                </div>
                <!-- SECTION 4.2.4 MOTOROLA RAZR-->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta" href="https://www.motorola.com/us/smartphones-razr"
                        target="_blank" rel="noopener" aria-label="Learn more: Motorola Razr"
                        data-g-config="{&#39;eventLabel&#39;: &#39;motorola razr&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.motorola.com/us/smartphones-razr&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;foldable phones&#39;}">
                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/CO-3rKqSXxJr4WBPOKa35RbAN9fkTEqUZs00rjhg-3poKsM6hS1xmedV2W5pLqbp877T-w2-ABsegfl1Gdwf-RxusOa3jt4kla1c=w400-e365-v1 1x, https://lh3.googleusercontent.com/CO-3rKqSXxJr4WBPOKa35RbAN9fkTEqUZs00rjhg-3poKsM6hS1xmedV2W5pLqbp877T-w2-ABsegfl1Gdwf-RxusOa3jt4kla1c=w800-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Motorola</h4>
                            <h4 class="h4-general">Razr</h4>
                        </div>
                    </a>
                </div>
            </div>
            </div>
            </div>
        </section>

        <!-- SECTION 5. POPULAR PICKS-->
        <section id="popular-picks-gallery"></section>
        <!-- SECTION 5.1. HEADER TEXT-->
        <div class="content">
            <h2>Popular picks</h2>
            <h3 class="h3-general">Cameras that catch any shot.</h3>
            <div>
                <p id="section-5-p">
                    Android powers some of the world’s top cameras.
                    So when the action speeds up or the lights go
                    down low, <br>
                    you always get that perfect shot.</p>
            </div>
        </div>
        <!-- SECTION 5.2. POPULAR PICK GALLERY-->
        <div id="popular-picks" class="flex-container"
            data-g-config="{&#39;eventLabel&#39;: &#39;&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;cameras that catch any shot move carousel&#39;}"
            tabindex="0">
            <!-- SECTION 5.2.1. GALAXY S20 ULTRA-->
            <div class="gallery-item">
                <a class="device-gallery__item-cta" href="https://www.samsung.com/us/mobile/galaxy-s20-5g/"
                    target="_blank" rel="noopener" aria-label="Learn more: Samsung Galaxy S20 Ultra"
                    data-g-config="{&#39;eventLabel&#39;: &#39;samsung galaxy s20 ultra&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.samsung.com/us/mobile/galaxy-s20-5g/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;popular picks&#39;}">
                    <div class="device-gallery__image-container">
                        <img srcset="https://lh3.googleusercontent.com/QPy0UrIaV76Zf8nryBUbwqdtrLEJHBazX1t27JZYTOeeyQZ0MjpucG6kUy8oOYCi9w8VnYgtOYyahZ1jHbb29eUITQx6FGziaEMK=w400-e365-v1 1x, https://lh3.googleusercontent.com/QPy0UrIaV76Zf8nryBUbwqdtrLEJHBazX1t27JZYTOeeyQZ0MjpucG6kUy8oOYCi9w8VnYgtOYyahZ1jHbb29eUITQx6FGziaEMK=w800-e365-v1 2x"
                            alt="" class="gallery-img">
                    </div>
                    <div class="device-gallery__pdp-cta cta--is-2 cta">
                        <h4 class="h4-general">Samsung</h4>
                        <h4 class="h4-general">Galaxy S20 Ultra</h4>
                    </div>
                </a>
            </div>
            <!-- SECTION 5.2.2. XIAOMI MI 10 PRO-->
            <div class="gallery-item">
                <a class="device-gallery__item-cta" href="https://www.mi.com/global/mi-10-pro" target="_blank"
                    rel="noopener" aria-label="Learn more: Xiaomi Mi 10 Pro"
                    data-g-config="{&#39;eventLabel&#39;: &#39;xiaomi mi 10 pro&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.mi.com/global/mi-10-pro&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;popular picks&#39;}">
                    <div class="device-gallery__image-container">
                        <img srcset="https://lh3.googleusercontent.com/jd-2aDmdDnzDoy5-oNB7V0Tl5PWxp-RpBfH9x9lxGC1TLxgfJH49qf5etAa8CmmfdkwYHTNl9Z7oZCX20NyhdXMpWnxur_Im1L1A=w400-e365-v1 1x, https://lh3.googleusercontent.com/jd-2aDmdDnzDoy5-oNB7V0Tl5PWxp-RpBfH9x9lxGC1TLxgfJH49qf5etAa8CmmfdkwYHTNl9Z7oZCX20NyhdXMpWnxur_Im1L1A=w800-e365-v1 2x"
                            alt="" class="gallery-img">
                    </div>
                    <div class="device-gallery__pdp-cta cta--is-2 cta">
                        <h4 class="h4-general">Xiaomi</h4>
                        <h4 class="h4-general">Mi 10 Pro</h4>
                    </div>
                </a>
            </div>
            <!-- SECTION 5.2.3. VIVO V17 PRO-->
            <div class="gallery-item">
                <a class="device-gallery__item-cta" href="https://www.vivo.com/en/products/v17pro" target="_blank"
                    rel="noopener" aria-label="Learn more: Vivo V17 Pro"
                    data-g-config="{&#39;eventLabel&#39;: &#39;vivo v17 pro&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.vivo.com/en/products/v17pro&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;popular picks&#39;}">
                    <div class="device-gallery__image-container">
                        <img srcset="https://lh3.googleusercontent.com/t9yVEW5RYKs58cN486VyKCbuhGEyl7m4uKQbtjZdiTCnwp4Th0ZtB9QGSESnagGUKBOK5oWRKZ_kklzBREsNTufp2Wfj3ociQH3GBA=w400-e365-v1 1x, https://lh3.googleusercontent.com/t9yVEW5RYKs58cN486VyKCbuhGEyl7m4uKQbtjZdiTCnwp4Th0ZtB9QGSESnagGUKBOK5oWRKZ_kklzBREsNTufp2Wfj3ociQH3GBA=w800-e365-v1 2x"
                            alt="" class="gallery-img">
                    </div>
                    <div class="device-gallery__pdp-cta cta--is-2 cta">
                        <h4 class="h4-general">Vivo</h4>
                        <h4 class="h4-general">V17 Pro</h4>
                    </div>
                </a>
            </div>
            <!-- SECTION 5.2.4. XPERIA 1 LI-->
            <div class="gallery-item">
                <a class="device-gallery__item-cta" href="https://www.sony.com/electronics/smartphones/xperia-1m2"
                    target="_blank" rel="noopener" aria-label="Learn more: Sony Xperia 1 ii"
                    data-g-config="{&#39;eventLabel&#39;: &#39;sony xperia 1 ii&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.sony.com/electronics/smartphones/xperia-1m2&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;popular picks&#39;}">
                    <div class="device-gallery__image-container">
                        <img srcset="https://lh3.googleusercontent.com/GILRulOhaUQ1liJnaNdIkzCE7c6G-DZBLt8yXarjaEKRpg-a0bvzE_60Tm-RfBzjXccxoHnADhI4tbSZ3Qibk283oW5sRaG3b8dnbek=w400-e365-v1 1x, https://lh3.googleusercontent.com/GILRulOhaUQ1liJnaNdIkzCE7c6G-DZBLt8yXarjaEKRpg-a0bvzE_60Tm-RfBzjXccxoHnADhI4tbSZ3Qibk283oW5sRaG3b8dnbek=w800-e365-v1 2x"
                            alt="" class="gallery-img">
                    </div>
                    <div class="device-gallery__pdp-cta cta--is-2 cta">
                        <h4 class="h4-general">Sony</h4>
                        <h4 class="h4-general">Xperia 1 ii</h4>
                    </div>
                </a>
            </div>
        </div>
        </section>

        <!-- SECTION 6. FEATURED TABLETS-->
        <section class="featured-tablets">
            <div class="featured-tablets">
                <!-- SECTION 6.1. TEXT HEADER-->
                <div class="content">
                    <h2>Featured tablets</h2>
                    <h3 class="h3-general">Sometimes you need a bigger screen.</h3>
                    <div class="device-gallery__body is-body-wrapper">
                        <p id="section-6-p">
                            Watch a show the way that it was <br>
                            intended. Edit a photo all the way <br>
                            down to the pixels. With Android tablets, <br>
                            you get lots of screen to do your thing.</p>
                    </div>
                </div>
                <!-- SECTION 6.2. TABLET GALLERY-->
                <div class="flex-container"
                    data-g-config="{&#39;eventLabel&#39;: &#39;&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;sometimes you need a bigger screen move carousel&#39;}"
                    tabindex="0">
                    <!-- SECTION 6.2.1. GALAXY TAB S7-->
                    <div class="gallery-item">
                        <a class="device-gallery__item-cta" href="https://www.samsung.com/us/mobile/tablets/"
                            target="_blank" rel="noopener" aria-label="Learn more: Samsung Galaxy Tab S7"
                            data-g-config="{&#39;eventLabel&#39;: &#39;samsung galaxy tab s7&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.samsung.com/us/mobile/tablets/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;featured tablets&#39;}">
                            <div class="device-gallery__image-container">
                                <img srcset="https://lh3.googleusercontent.com/I458S6Jur0JI-PLkjvjKQ60ciX81NxZbZ2l0iJ47_dZneI2BlcfupC3wx-Ym5sWHkpdg3_eyUZ-J1CytHOG_W4B4voEsTNobSVWWJw=w400-rw-e365-v1 1x, https://lh3.googleusercontent.com/I458S6Jur0JI-PLkjvjKQ60ciX81NxZbZ2l0iJ47_dZneI2BlcfupC3wx-Ym5sWHkpdg3_eyUZ-J1CytHOG_W4B4voEsTNobSVWWJw=w800-rw-e365-v1 2x"
                                    alt="" class="gallery-img-tablet">
                            </div>
                            <div class="device-gallery__pdp-cta cta--is-2 cta">
                                <h4 class="h4-general">Samsung</h4>
                                <h4 class="h4-general">Galaxy Tab S7</h4>
                            </div>
                        </a>
                    </div>

                    <!-- SECTION 6.2.2. TAB M10 FHD PLUS-->
                    <div class="gallery-item">
                        <a class="device-gallery__item-cta"
                            href="https://www.lenovo.com/us/en/tablets/android-tablets/lenovo-tab-series/Lenovo-TB-X606/p/ZZITZTATBDX"
                            target="_blank" rel="noopener" aria-label="Learn more: Lenovo Tab M10 FHD Plus"
                            data-g-config="{&#39;eventLabel&#39;: &#39;lenovo tab m10 fhd plus&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.lenovo.com/us/en/tablets/android-tablets/lenovo-tab-series/Lenovo-TB-X606/p/ZZITZTATBDX&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;featured tablets&#39;}">
                            <div class="device-gallery__image-container">
                                <img srcset="https://lh3.googleusercontent.com/BiF8MJms_l3h9Tg7p_kJuGgTT1m0zHFk-8D5KrcnqZrthkyx953yIGXlJkUeTCOExAacN0Lhm0AzGKSCTv6plqDTM0-k21fRYw_A=w400-rw-e365-v1 1x, https://lh3.googleusercontent.com/BiF8MJms_l3h9Tg7p_kJuGgTT1m0zHFk-8D5KrcnqZrthkyx953yIGXlJkUeTCOExAacN0Lhm0AzGKSCTv6plqDTM0-k21fRYw_A=w800-rw-e365-v1 2x"
                                    alt="" class="gallery-img-tablet">
                            </div>
                            <div class="device-gallery__pdp-cta cta--is-2 cta">
                                <h4 class="h4-general">Lenovo</h4>
                                <h4 class="h4-general">Tab M10 FHD Plus</h4>
                            </div>
                        </a>
                    </div>

                    <!-- SECTION 6.2.3. LEONOVO YOGA SMART TAB-->
                    <div class="gallery-item">
                        <a class="device-gallery__item-cta"
                            href="https://www.lenovo.com/us/en/tablets/android-tablets/lenovo-tab-series/Lenovo-Yoga-Smart-Tab-with-the-Google-Assistant/p/ZZITZTBYT2X"
                            target="_blank" rel="noopener" aria-label="Learn more: Lenovo Yoga Smart Tab"
                            data-g-config="{&#39;eventLabel&#39;: &#39;lenovo yoga smart tab&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.lenovo.com/us/en/tablets/android-tablets/lenovo-tab-series/Lenovo-Yoga-Smart-Tab-with-the-Google-Assistant/p/ZZITZTBYT2X&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;featured tablets&#39;}">
                            <div class="device-gallery__image-container">
                                <img srcset="https://lh3.googleusercontent.com/Q_VlOzEbC-a4Eemaho9vkGUZnQUCKfLu14Ni5vGWNZHQxFinYGxgHGz2qwD-qmBcIYDSMfL7KcykbBuk9PQC8ElVajlAaymPS0RhDwQ=w400-rw-e365-v1 1x, https://lh3.googleusercontent.com/Q_VlOzEbC-a4Eemaho9vkGUZnQUCKfLu14Ni5vGWNZHQxFinYGxgHGz2qwD-qmBcIYDSMfL7KcykbBuk9PQC8ElVajlAaymPS0RhDwQ=w800-rw-e365-v1 2x"
                                    alt="" class="gallery-img-tablet">
                            </div>
                            <div class="device-gallery__pdp-cta cta--is-2 cta">
                                <h4 class="h4-general">Lenovo</h4>
                                <h4 class="h4-general">Yoga Smart Tab</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION 7 ANDROID ENTERPRISE. DIVIDED IN TWO DIVS-->
        <!-- SECTION 7.1 DIV FOR IMAGE-->
        <section id="android-for-enterprise">
            <div id="flex-container-s7">
                <div id="gallery-item-s7">
                </div>
                <!-- SECTION 7.2 DIV FOR TEXT-->
                <div id="content-s7">
                    <h2>Android Enterprise</h2>
                    <h3 class="h3-general">Put Android to work.</h3>
                    <div class="content">
                        <p id="section-7-p">
                            Use the work profile to keep your
                            personal data separate. <br>
                            Turn off work apps when you want to
                            disconnect. And with the Android
                            Enterprise Recommended
                            programme it's easy to find the
                            right devices for your job.
                            From construction sites to corporate offices.</p>
                        <div class="flex-container">
                            <a href="https://www.android.com/intl/en_uk/enterprise/" class="blue-button">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION 8 ANDROID ONE PHONES-->
        <!-- SECTION 8.1 ANDROID ONE PHONES IMAGE -->
        <section id="android-one-phones" class="content-default content-default--secondary"
            style="--component-position:8149px;">
            <div class="content-default__wrapper grid">
                <div class="content">


                    <img src="https://lh3.googleusercontent.com/NylndAdsn0px2XNBei4pw6IkTcdcMdrIWQhUmaBH0JXMQekdFIri-KRz1XHgyT6o1VxSpyN6gaing14bTIbm8w84huFhStGGa9L1=w320-e365"
                        alt="Xiaomi Mi A3" id=section-8-img>

                    <div class="background-shapes background-shapes--parallax">

                        <div class="
          background-shapes__sausage
            background-shapes__sausage--progressive
          background-shapes__bf51eb62a7c56d8142613a64ab881520">
                        </div>
                    </div>
                </div>
                <!-- SECTION 8.2 ANDROID ONE PHONE TEXT -->
                <div class="content">
                    <h2>Android One</h2>
                    <h3 class="h3-general">Secure, up-to-date and easy to use.</h3>
                    <div id="section-8-div-p">
                        <p id="section-8-p">
                            Android One phones are certified to run the simplest,
                            latest version of Android. Regular security updates
                            every month. <br>
                            At least two years of OS upgrades.
                            And only loaded with the most essential apps.</p>
                        <div class="flex-container">
                            <a href="https://www.android.com/intl/en_uk/one/" class="blue-button"> Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECTION 9 ANDROID GO EDITION -->
        <section id="android-go-edition">
            <!-- SECTION 9.1 ANDROID GO TEXT INTRODUCTION -->
            <div class="content">
                <h2>Android (Go edition)</h2>
                <h3 class="h3-general">Less RAM. <br>Still loaded <br>with power.</h3>
                <div class="device-gallery__body is-body-wrapper">
                    <p id="section-9-p">
                        Get the best of Android on smartphones with less
                        than 2 GB of RAM. Reimagined apps like Google Go
                        and Camera Go take up less space and start up faster. <br>
                        Files helps you share your stuff without using data.
                        And Google Play continually gets new apps made just <br>
                        for Android (Go edition).</p>
                    <div class="flex-container">
                        <a class="blue-button" href="https://www.android.com/versions/go-edition/">Learn more</a>
                    </div>
                </div>
            </div>
            <!-- SECTION 9.2 GALLERY -->
            <div class="flex-container"
                data-g-config="{&#39;eventLabel&#39;: &#39;&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;less ram  &lt;br&gt;still loaded  &lt;br&gt;with power move carousel&#39;}"
                tabindex="0">
                <!-- SECTION 9.2.1 ITEL S15 -->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta"
                        href="https://www.itel-mobile.com/global/products/smart-phone/s-selfie/s15/" target="_blank"
                        rel="noopener" aria-label="Learn more: Itel S15"
                        data-g-config="{&#39;eventLabel&#39;: &#39;itel s15&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.itel-mobile.com/global/products/smart-phone/s-selfie/s15/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;android (go edition)&#39;}">

                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/0E4urjPxaS-Iy4-1D1zYgYCs_lSDIuD8xD5rwlf-TCYZ1A8U8s9JWERhV0d7efqwYmp8z9xPk8NDfMtuwwVDAibM1YUKiEpUJOTI9Q=w400-rw-e365-v1 1x, https://lh3.googleusercontent.com/0E4urjPxaS-Iy4-1D1zYgYCs_lSDIuD8xD5rwlf-TCYZ1A8U8s9JWERhV0d7efqwYmp8z9xPk8NDfMtuwwVDAibM1YUKiEpUJOTI9Q=w800-rw-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Itel</h4>
                            <h4 class="h4-general">S15</h4>
                        </div>
                    </a>
                </div>
                <!-- SECTION 9.2.2 XIAOMI REDMI GO -->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta" href="https://www.mi.com/global/redmi-go" target="_blank"
                        rel="noopener" aria-label="Learn more: Xiaomi Redmi Go"
                        data-g-config="{&#39;eventLabel&#39;: &#39;xiaomi redmi go&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.mi.com/global/redmi-go&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;android (go edition)&#39;}">

                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/pqbz48HljVg0VUsSEop1GyP3J4Y-_Hu0qFu4FuxRBK28-tmf6XooEf43gKe8RVwHUgGKO-p3-rfN7gFppZDYw4fHRD6iUtsfgUpO=w400-rw-e365-v1 1x, https://lh3.googleusercontent.com/pqbz48HljVg0VUsSEop1GyP3J4Y-_Hu0qFu4FuxRBK28-tmf6XooEf43gKe8RVwHUgGKO-p3-rfN7gFppZDYw4fHRD6iUtsfgUpO=w800-rw-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Xiaomi</h4>
                            <h4 class="h4-general">Redmi Go</h4>
                        </div>
                    </a>
                </div>
                <!-- SECTION 9.2.3 NOKIA 1.3 -->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta" href="https://www.nokia.com/phones/en_gb/nokia-1-3"
                        target="_blank" rel="noopener" aria-label="Learn more: Nokia 1.3"
                        data-g-config="{&#39;eventLabel&#39;: &#39;nokia 1 3&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.nokia.com/phones/en_gb/nokia-1-3&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;android (go edition)&#39;}">
                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/HoAEyoHUYkrk0X8i-urtDeEFfuPsWFf80OB_U229c2xXkat7U15et-nQhkQRmx467AcJeKVaUlzNjUpNGVz0X__A7V4prRxovf3w1js=w400-rw-e365-v1 1x, https://lh3.googleusercontent.com/HoAEyoHUYkrk0X8i-urtDeEFfuPsWFf80OB_U229c2xXkat7U15et-nQhkQRmx467AcJeKVaUlzNjUpNGVz0X__A7V4prRxovf3w1js=w800-rw-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Nokia</h4>
                            <h4 class="h4-general">1.3</h4>
                        </div>
                    </a>
                </div>
                <!-- SECTION 9.2.4 SPARK 4 LITE -->
                <div class="gallery-item">
                    <a class="device-gallery__item-cta"
                        href="https://www.tecno-mobile.com/phones/product-detail/product/spark-4-lite/" target="_blank"
                        rel="noopener" aria-label="Learn more: Tecno Spark 4 Lite"
                        data-g-config="{&#39;eventLabel&#39;: &#39;tecno spark 4 lite&#39;, &#39;moduleName&#39;: &#39;device-gallery-default&#39;, &#39;linkUrl&#39;: &#39;https://www.tecno-mobile.com/phones/product-detail/product/spark-4-lite/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;android (go edition)&#39;}">
                        <div class="device-gallery__image-container">
                            <img srcset="https://lh3.googleusercontent.com/9PQeSHvtYSMDOExKCUjtm4ngAARbnA_8NfwntLWPsNBjVF_ruEYuvBBVRLfMMH0iBltClxqyKr5iznuX3gCDkCaDeXCJ8HSgKnrnxC8=w400-rw-e365-v1 1x, https://lh3.googleusercontent.com/9PQeSHvtYSMDOExKCUjtm4ngAARbnA_8NfwntLWPsNBjVF_ruEYuvBBVRLfMMH0iBltClxqyKr5iznuX3gCDkCaDeXCJ8HSgKnrnxC8=w800-rw-e365-v1 2x"
                                alt="" class="gallery-img">
                        </div>
                        <div class="device-gallery__pdp-cta cta--is-2 cta">
                            <h4 class="h4-general">Tecno</h4>
                            <h4 class="h4-general">Spark 4 Lite</h4>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <!-- SECTION 10. FEATURED BRANDS -->
        <section id="featured-brands">
            <!-- SECTION 10.1 TEXT ABOVE -->
            <div class="content">
                <h2 class=>Featured brands</h2>
                <h3 class="h3-general">Find the one that you love. <br>All on Android.</h3>
            </div>
            <!-- SECTION 10.2 GALLERY GRID -->
            <div class="flex-container">
                <!-- SECTION 10.2.1. SAMSUNG. ENCAPSULATED IN AN <a> -->
                <div class="gallery-item-10">
                    <div class="solo-items">
                        <svg aria-hidden="true" class="device-gallery-grid__brand-logo">
                            <use xlink:href="#logo-samsung"></use>
                        </svg>
                    </div>
                    <div class="solo-items">
                        <a href="https://www.samsung.com/us/mobile/phones/" target="_blank" rel="noopener"
                            class="device-gallery-grid__card" aria-label="Learn more: Samsung"
                            data-g-config="{&#39;eventLabel&#39;: &#39;logo-samsung&#39;, &#39;moduleName&#39;: &#39;device-gallery-grid&#39;, &#39;linkUrl&#39;: &#39;https://www.samsung.com/us/mobile/phones/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;featured brands&#39;}">
                            <cloud-image
                                src="https://lh3.googleusercontent.com/O6fLJWkwdD2EewLQNyQ4IDzM-fdU9-Weqx4GgOXacGk3N5Q_gm14pRHHt9GWKcLsXmo5OQvW_RGbXOO5_Yu8y8I_si9x-4q5twJzxjk"
                                alt="Samsung Galaxy S10"
                                class="device-gallery-grid__image cloud-image--portrait is-loaded" width="91" md="160"
                                lg="190" cache-ttl="e365"><img
                                    srcset="https://lh3.googleusercontent.com/O6fLJWkwdD2EewLQNyQ4IDzM-fdU9-Weqx4GgOXacGk3N5Q_gm14pRHHt9GWKcLsXmo5OQvW_RGbXOO5_Yu8y8I_si9x-4q5twJzxjk=w253-rw-e365-v1 1x, https://lh3.googleusercontent.com/O6fLJWkwdD2EewLQNyQ4IDzM-fdU9-Weqx4GgOXacGk3N5Q_gm14pRHHt9GWKcLsXmo5OQvW_RGbXOO5_Yu8y8I_si9x-4q5twJzxjk=w506-rw-e365-v1 2x"
                                    alt="Samsung Galaxy S10"></cloud-image>
                        </a>
                    </div>
                </div>
                <!-- SECTION 10.2.2. GOOGLE. ENCAPSULATED IN AN <a> -->
                <div class="gallery-item-10">
                    <div class="solo-items">
                        <svg aria-hidden="true" class="device-gallery-grid__brand-logo">
                            <use xlink:href="#logo-google"></use>
                        </svg>
                    </div>
                    <div class="solo-items">
                        <a href="https://store.google.com/product/pixel_4a" target="_blank" rel="noopener"
                            class="device-gallery-grid__card" aria-label="Learn more: Google"
                            data-g-config="{&#39;eventLabel&#39;: &#39;logo-google&#39;, &#39;moduleName&#39;: &#39;device-gallery-grid&#39;, &#39;linkUrl&#39;: &#39;https://store.google.com/product/pixel_4a&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;featured brands&#39;}">
                            <cloud-image
                                src="https://lh3.googleusercontent.com/6uFkdJBgmNkq9KoFvv9edRvqJoFuE6pUvMEnug1AqRDFyST7iybtil9drsr9GFHjJUd8e_s8bePEYZYutLsDpTx1huAe74oeMP--vg"
                                alt="" class="device-gallery-grid__image cloud-image--portrait is-loaded" width="91"
                                md="160" lg="190" cache-ttl="e365"><img
                                    srcset="https://lh3.googleusercontent.com/6uFkdJBgmNkq9KoFvv9edRvqJoFuE6pUvMEnug1AqRDFyST7iybtil9drsr9GFHjJUd8e_s8bePEYZYutLsDpTx1huAe74oeMP--vg=w253-rw-e365-v1 1x, https://lh3.googleusercontent.com/6uFkdJBgmNkq9KoFvv9edRvqJoFuE6pUvMEnug1AqRDFyST7iybtil9drsr9GFHjJUd8e_s8bePEYZYutLsDpTx1huAe74oeMP--vg=w506-rw-e365-v1 2x"
                                    alt=""></cloud-image>
                        </a>
                    </div>
                </div>
                <!-- SECTION 10.2.3. LG. ENCAPSULATED IN AN <a> -->
                <div class="gallery-item-10">
                    <div class="solo-items">
                        <svg aria-hidden="true" class="device-gallery-grid__brand-logo">
                            <use xlink:href="#logo-lg"></use>
                        </svg>
                    </div>
                    <div class="solo-items">
                        <a href="https://www.lg.com/us/" target="_blank" rel="noopener"
                            class="device-gallery-grid__card" aria-label="Learn more: LG"
                            data-g-config="{&#39;eventLabel&#39;: &#39;logo-lg&#39;, &#39;moduleName&#39;: &#39;device-gallery-grid&#39;, &#39;linkUrl&#39;: &#39;https://www.lg.com/us/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;featured brands&#39;}">
                            <cloud-image
                                src="https://lh3.googleusercontent.com/KnSlsXEfkwFP-T_WWcH7tBCCbVBo2kzOo80D0FSDDil535hbJW5kvWpi62CcJq2TFi4okss3OEWKPAq9Pze9dmodWbs6rUuCd7OxqQ"
                                alt="LG G7 ThinQ" class="device-gallery-grid__image cloud-image--portrait is-loaded"
                                width="91" md="160" lg="190" cache-ttl="e365"><img
                                    srcset="https://lh3.googleusercontent.com/KnSlsXEfkwFP-T_WWcH7tBCCbVBo2kzOo80D0FSDDil535hbJW5kvWpi62CcJq2TFi4okss3OEWKPAq9Pze9dmodWbs6rUuCd7OxqQ=w253-rw-e365-v1 1x, https://lh3.googleusercontent.com/KnSlsXEfkwFP-T_WWcH7tBCCbVBo2kzOo80D0FSDDil535hbJW5kvWpi62CcJq2TFi4okss3OEWKPAq9Pze9dmodWbs6rUuCd7OxqQ=w506-rw-e365-v1 2x"
                                    alt="LG G7 ThinQ"></cloud-image>
                        </a>
                    </div>
                </div>

                <!-- SECTION 10.2.4. MOTOROLA. ENCAPSULATED IN AN <a> -->
                <div class="gallery-item-10">
                    <div class="solo-items">
                        <svg aria-hidden="true" class="device-gallery-grid__brand-logo">
                            <use xlink:href="#logo-motorola"></use>
                        </svg>
                    </div>
                    <div class="solo-items">
                        <a href="https://www.motorola.com/us/products/moto-smartphones/" target="_blank" rel="noopener"
                            class="device-gallery-grid__card" aria-label="Learn more: Motorola"
                            data-g-config="{&#39;eventLabel&#39;: &#39;logo-motorola&#39;, &#39;moduleName&#39;: &#39;device-gallery-grid&#39;, &#39;linkUrl&#39;: &#39;https://www.motorola.com/us/products/moto-smartphones/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;featured brands&#39;}">
                            <cloud-image
                                src="https://lh3.googleusercontent.com/PgAWYpd2cMrVgRyvi8_9ImjGfHC-0Y_med16mzoQ0Xuo2Wl-MpyzfjPVRjEXq-XAZtp_RLH54j8Iu2REcwi9zicmjUtPXNz70zCDsQ"
                                alt="Motorola" class="device-gallery-grid__image cloud-image--portrait is-loaded"
                                width="91" md="160" lg="190" cache-ttl="e365"><img
                                    srcset="https://lh3.googleusercontent.com/PgAWYpd2cMrVgRyvi8_9ImjGfHC-0Y_med16mzoQ0Xuo2Wl-MpyzfjPVRjEXq-XAZtp_RLH54j8Iu2REcwi9zicmjUtPXNz70zCDsQ=w253-rw-e365-v1 1x, https://lh3.googleusercontent.com/PgAWYpd2cMrVgRyvi8_9ImjGfHC-0Y_med16mzoQ0Xuo2Wl-MpyzfjPVRjEXq-XAZtp_RLH54j8Iu2REcwi9zicmjUtPXNz70zCDsQ=w506-rw-e365-v1 2x"
                                    alt="Motorola"></cloud-image>
                        </a>
                    </div>
                </div>
                <!-- SECTION 10.2.5. NOKIA. ENCAPSULATED IN AN <a> -->
                <div class="gallery-item-10">
                    <div class="solo-items">
                        <svg aria-hidden="true" class="device-gallery-grid__brand-logo">
                            <use xlink:href="#logo-nokia"></use>
                        </svg>
                    </div>
                    <div class="solo-items">
                        <a href="https://www.nokia.com/phones/en_us/" target="_blank" rel="noopener"
                            class="device-gallery-grid__card" aria-label="Learn more: Nokia"
                            data-g-config="{&#39;eventLabel&#39;: &#39;logo-nokia&#39;, &#39;moduleName&#39;: &#39;device-gallery-grid&#39;, &#39;linkUrl&#39;: &#39;https://www.nokia.com/phones/en_us/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;featured brands&#39;}">
                            <cloud-image
                                src="https://lh3.googleusercontent.com/x-i5ELFOc-Ip0AFG8AdqXyDLWswgs37Uvr8SgEStNrhuqFtbx6ufP7pNHyKhomAa-tJGcePwRcFKrjhFM1QZG-O5R0IVChbOjUBS"
                                alt="Nokia 9" class="device-gallery-grid__image cloud-image--portrait is-loaded"
                                width="91" md="160" lg="190" cache-ttl="e365"><img
                                    srcset="https://lh3.googleusercontent.com/x-i5ELFOc-Ip0AFG8AdqXyDLWswgs37Uvr8SgEStNrhuqFtbx6ufP7pNHyKhomAa-tJGcePwRcFKrjhFM1QZG-O5R0IVChbOjUBS=w253-rw-e365-v1 1x, https://lh3.googleusercontent.com/x-i5ELFOc-Ip0AFG8AdqXyDLWswgs37Uvr8SgEStNrhuqFtbx6ufP7pNHyKhomAa-tJGcePwRcFKrjhFM1QZG-O5R0IVChbOjUBS=w506-rw-e365-v1 2x"
                                    alt="Nokia 9"></cloud-image>
                        </a>
                    </div>
                </div>
                <!-- SECTION 10.2.6. XIAOMI. ENCAPSULATED IN AN <a> -->
                <div class="gallery-item-10">
                    <div class="solo-items">
                        <svg aria-hidden="true" class="device-gallery-grid__brand-logo">
                            <use xlink:href="#logo-xiaomi"></use>
                        </svg>
                    </div>
                    <div class="solo-items">
                        <a href="https://www.mi.com/global/" target="_blank" rel="noopener"
                            class="device-gallery-grid__card" aria-label="Learn more: Xiaomi"
                            data-g-config="{&#39;eventLabel&#39;: &#39;logo-xiaomi&#39;, &#39;moduleName&#39;: &#39;device-gallery-grid&#39;, &#39;linkUrl&#39;: &#39;https://www.mi.com/global/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;featured brands&#39;}">
                            <cloud-image
                                src="https://lh3.googleusercontent.com/PUNHXUTQAUILwG-JDMiurV6h8L28v-pP7ftjUz72tysAf71JyNG_JgER4VIeibVyq5oQW3xfh2Pa79UWjKJt312sIXS_V_xIXVnYKw"
                                alt="Xiaomi Mi 9" class="device-gallery-grid__image cloud-image--portrait is-loaded"
                                width="91" md="160" lg="190" cache-ttl="e365"><img
                                    srcset="https://lh3.googleusercontent.com/PUNHXUTQAUILwG-JDMiurV6h8L28v-pP7ftjUz72tysAf71JyNG_JgER4VIeibVyq5oQW3xfh2Pa79UWjKJt312sIXS_V_xIXVnYKw=w253-rw-e365-v1 1x, https://lh3.googleusercontent.com/PUNHXUTQAUILwG-JDMiurV6h8L28v-pP7ftjUz72tysAf71JyNG_JgER4VIeibVyq5oQW3xfh2Pa79UWjKJt312sIXS_V_xIXVnYKw=w506-rw-e365-v1 2x"
                                    alt="Xiaomi Mi 9"></cloud-image>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <!-- SECTION 11. MAKE THE SWITCH -->
        <section id="make-the-switch" class="cta-default cta-default--primary cta-default--animated"
            data-android-component="cta-content-default" style="--component-position:11714px;">
            <!-- SECTION 11.1. TITLE -->
            <div class="content">
                <h2>Get started</h2>
                <h3 id="section-11-h3">Ready to make the switch?</h3>
                <div>
                    <!-- SECTION 11.2. PARAGRAPH -->
                    <p id="section-11-p">Only a few steps. That’s all it takes to transfer your files, your contacts and
                        your
                        apps from one phone to the next. Including iOS.</p>
                    <div>
                    </div>
                    <!-- SECTION 11.3. LINK LIKE A BUTTON -->
                    <div class="flex-container">
                        <a href="https://www.android.com/intl/en_uk/switch/" class="blue-button"
                            aria-label="Switch now: Ready to make the switch?"
                            data-g-config="{&#39;eventLabel&#39;: &#39;switch now&#39;, &#39;moduleName&#39;: &#39;cta-content-default&#39;, &#39;linkUrl&#39;: &#39;/intl/en_uk/switch/&#39;, &#39;eventCategory&#39;: &#39;module interactions&#39;, &#39;title&#39;: &#39;cta&#39;}">Switch
                            to apple</a>
                    </div>
                </div>

            </div>
        </section>
    </article>
</main>