/* global */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

.container {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}
/* header section */
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 4.4rem;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2rem);
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 1.4rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity 0.5s;
}

.nav-link:hover {
    opacity: 0.7;
}

.nav-link-android {
    width: 1.6rem;
    height: 4.4rem;
    background: url(../img/android.png) center no-repeat;
}

.nav-link-search {
    width: 1.6rem;
    height: 4.4rem;
    object-fit: cover;
    object-position: top;
    margin-top: 5px;
}

.hero {
    height: 69.2rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 0.6rem solid #fff;
    border-bottom: 0.6rem solid #fff;
}

/* latest features section */
.latest-features {
    margin-top: 4.4rem;
    border-top: none;
    background: url(../img/falls-features.png) bottom no-repeat, #0e0e0e;
}

.title {
    color: #fff;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading {
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -0.005rem;
}

.title-paragraph {
    font-size: 1.7rem;
    color: #fff;
    margin-top: 0.68rem;
}

.cta {
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link {
    color: #66bbff;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: 600;
}

.cta-link:nth-child(2) {
    margin-left: 2.6rem;
}

.cta-link:hover {
    border-bottom: 2px solid #66bbff;
}

/* android 11 section */
.android-11 {
    background: url("https://lh3.googleusercontent.com/b4HPFIhOS9iAYfKu8cVKUSFgK7LbcFI2SSQn7tHF0RDXzlacbG4d8mEjGNpu2TQLdIT-AyQxY0ZvdhG5tztwNp5oEG2eaONN37AFOA=w527-rw-e365-v1") 50% 160% no-repeat;
}

.title-dark {
    color: #000;
}

.cta-link-darker {
    color: #0070c9;
}

.cta-link-darker:hover {
    border-bottom-color: #0070c9;
}

/* devices section */

.devices {
    background:#0e0e0e;
}